@model SACC.Models.DIREIMPOR

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @*<link rel="stylesheet" href="~/Content/Acordeon.css" />*@
    <link rel="stylesheet" href="~/Content/mediascreen.css" />
}

<h2>Detalles</h2>

<div>
    <h4>DIREIMPOR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRECCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEL1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEL1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEL2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEL2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.ID }) |
    @Html.ActionLink("Regresar", "BodegaLista")
</p>
